version: '3.8'

services:
  # The MongoDB instance to backup
  mongo:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # The backup job
  backup-job:
    build:
      context: .
      dockerfile: Dockerfile.arm64
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      # Connection string to the mongo service
      MONGODB_URI: "mongodb://root:password@mongo:27017/?authSource=admin"

      # S3 Configuration (Example using MinIO or AWS)
      S3_ENDPOINT: "" # or http://minio:9000
      S3_BUCKET_NAME: ""
      S3_REGION: "us-east-1"
      S3_ACCESS_KEY_ID: ""
      S3_SECRET_KEY: ""
      S3_KEY: "backup-2025-01-01.zip"
